name: Continuous Integration

on: [push, pull_request]

jobs:
  ci-success:
    needs:
      - debug
      # - extra
    if: always()
    runs-on: ubuntu-latest
    name: CI Success
    steps:
      - name: Check Status
        run: |
          [[ "${{ contains(needs.*.result, 'failure') }}" == "false" ]] || exit 1
          [[ "${{ contains(needs.*.result, 'cancelled') }}" == "false" ]] || exit 1

  debug:
    name: ${{ matrix.config.name }} ${{ matrix.config.build_type }}
    uses: ./.github/workflows/build_core.yml
    secrets: inherit
    with:
      build_type: Debug
      name: ${{ matrix.config.name }}
      os: ${{ matrix.config.os }}
      deps_cmdline: ${{ matrix.config.deps_cmdline }}
      extra_options: ${{ matrix.config.extra_options }}
    strategy:
      fail-fast: false
      matrix:
        # these are shared between multiple build configs
        config: &common_config
          - name: Windows MSVC
            os: windows-latest
            extra_options: -DCMAKE_C_COMPILER=cl -DCMAKE_CXX_COMPILER=cl
            deps_cmdline: |
              choco install \
                tree

          # - name: Windows LLVM
          #   os: windows-latest
          #   extra_options: -DCMAKE_C_COMPILER=clang-cl -DCMAKE_CXX_COMPILER=clang-cl -DCMAKE_C_FLAGS="/arch:AVX /clang:-Wno-unused-command-line-argument" -DCMAKE_CXX_FLAGS="/arch:AVX /EHsc /GR /clang:-Wno-c++11-narrowing /clang:-Wno-unused-command-line-argument"
          #   deps_cmdline: |
          #     choco install \
          #       tree

          - name: MacOS LLVM
            os: macos-latest
            extra_options: -DENABLE_SDL2=OFF -DHAVE_VULKAN=ON -DHAVE_GLES2=OFF -DDYN_OPENAL=OFF -DOPENAL_INCLUDE_DIR=/opt/homebrew/opt/openal-soft/include/AL -DOPENAL_LIBRARY=/opt/homebrew/opt/openal-soft/lib/libopenal.dylib
            deps_cmdline: |
              brew install   \
                dylibbundler \
                fluid-synth  \
                openal-soft  \
                vulkan-volk  \
                molten-vk    \
                libvpx       \
                sdl2         \
                tree

          - name: Linux GCC
            os: ubuntu-latest
            extra_options:
            deps_cmdline: |
              sudo apt-get update && sudo apt-get install \
                libfontconfig-dev \
                libopenal-dev \
                waylandpp-dev \
                libsdl2-dev   \
                libwebp-dev   \
                libbz2-dev    \
                libomp-dev    \
                libvpx-dev

          - name: Linux LLVM
            os: ubuntu-latest
            extra_options: -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++
            deps_cmdline: |
              sudo apt-get update && sudo apt-get install \
                libfontconfig-dev \
                libopenal-dev \
                waylandpp-dev \
                libsdl2-dev   \
                libwebp-dev   \
                libbz2-dev    \
                libomp-dev    \
                libvpx-dev

  # extra:
  #   name: ${{ matrix.config.name }} ${{ matrix.config.build_type }}
  #   needs: debug
  #   uses: ./.github/workflows/build_core.yml
  #   secrets: inherit
  #   with:
  #     name: ${{ matrix.config.name }}
  #     os: ${{ matrix.config.os }}
  #     deps_cmdline: ${{ matrix.config.deps_cmdline }}
  #     extra_options: ${{ matrix.config.extra_options }}
  #     build_type: ${{ matrix.config.build_type }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       config: # put bespoke configs here
  #         - name: Dummy
  #           os:
  #           extra_options:
  #           deps_cmdline:
  #           build_type:

# ======================

  release:
    name: ${{ matrix.config.name }} ${{ matrix.config.build_type }}
    needs: ci-success
    uses: ./.github/workflows/build_core.yml
    secrets: inherit
    with:
      build_type: Release
      name: ${{ matrix.config.name }}
      os: ${{ matrix.config.os }}
      deps_cmdline: ${{ matrix.config.deps_cmdline }}
      extra_options: ${{ matrix.config.extra_options }}
    strategy:
      fail-fast: false
      matrix:
        config: *common_config

  debinfo:
    name: ${{ matrix.config.name }} ${{ matrix.config.build_type }}
    needs: ci-success
    uses: ./.github/workflows/build_core.yml
    secrets: inherit
    with:
      build_type: RelWithDebInfo
      name: ${{ matrix.config.name }}
      os: ${{ matrix.config.os }}
      deps_cmdline: ${{ matrix.config.deps_cmdline }}
      extra_options: ${{ matrix.config.extra_options }}
    strategy:
      fail-fast: false
      matrix:
        config: *common_config

