name: Continuous Integration

on: [push, pull_request]

jobs:
  debug:
    name: ${{ matrix.config.name }} ${{ matrix.config.build_type }}
    uses: ./.github/workflows/build_core.yml
    with:
      build_type: Debug
      name: ${{ matrix.config.name }}
      os: ${{ matrix.config.os }}
      deps_cmdline: ${{ matrix.config.deps_cmdline }}
      extra_options: ${{ matrix.config.extra_options }}
    strategy:
      fail-fast: false
      matrix:
        # these are shared between multiple build configs
        config: &common_config
          - name: Windows MSVC
            os: windows-latest
            extra_options:
            deps_cmdline: |
              choco install \
                tree

          - name: MacOS LLVM
            os: macos-latest
            extra_options: -DDYN_OPENAL=OFF
            deps_cmdline: |
              brew install  \
                vulkan-volk \
                molten-vk   \
                libvpx      \
                sdl2        \
                tree

          - name: Linux GCC
            os: ubuntu-latest
            extra_options:
            deps_cmdline: |
              sudo apt-get update && sudo apt-get install \
                libopenal-dev \
                waylandpp-dev \
                libsdl2-dev   \
                libwebp-dev   \
                libbz2-dev    \
                libomp-dev    \
                libvpx-dev

          - name: Linux LLVM
            os: ubuntu-latest
            extra_options: -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++
            deps_cmdline: |
              sudo apt-get update && sudo apt-get install \
                libopenal-dev \
                waylandpp-dev \
                libsdl2-dev   \
                libwebp-dev   \
                libbz2-dev    \
                libomp-dev    \
                libvpx-dev

  # extra:
  #   name: ${{ matrix.config.name }} ${{ matrix.config.build_type }}
  #   needs: debug
  #   uses: ./.github/workflows/build_core.yml
  #   with:
  #     name: ${{ matrix.config.name }}
  #     os: ${{ matrix.config.os }}
  #     deps_cmdline: ${{ matrix.config.deps_cmdline }}
  #     extra_options: ${{ matrix.config.extra_options }}
  #     build_type: ${{ matrix.config.build_type }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       config: # put bespoke configs here
  #         - name: Dummy
  #           os:
  #           extra_options:
  #           deps_cmdline:
  #           build_type:

# ======================

  ci-success:
    needs: [ debug ]
    if: always()
    runs-on: ubuntu-latest
    name: CI Success
    steps:
      - name: Check Status
        run: |
          # Check if any needed job failed or was cancelled
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more builds failed."
            exit 1
          fi
          echo "All builds passed successfully."

  release:
    name: ${{ matrix.config.name }} ${{ matrix.config.build_type }}
    needs: debug
    uses: ./.github/workflows/build_core.yml
    with:
      build_type: Release
      name: ${{ matrix.config.name }}
      os: ${{ matrix.config.os }}
      deps_cmdline: ${{ matrix.config.deps_cmdline }}
      extra_options: ${{ matrix.config.extra_options }}
    strategy:
      fail-fast: false
      matrix:
        config: *common_config

  debinfo:
    name: ${{ matrix.config.name }} ${{ matrix.config.build_type }}
    needs: debug
    uses: ./.github/workflows/build_core.yml
    with:
      build_type: RelWithDebInfo
      name: ${{ matrix.config.name }}
      os: ${{ matrix.config.os }}
      deps_cmdline: ${{ matrix.config.deps_cmdline }}
      extra_options: ${{ matrix.config.extra_options }}
    strategy:
      fail-fast: false
      matrix:
        config: *common_config

